
  
.tree {
    overflow: scroll;
}
.hover {
    /* transition:
      transform 200ms ease; */
}
.hover:hover .item {
    transform: scale(1.04);
}

.item {
    display: flex;
    align-items: center;
    gap: 10;
    text-align: center;
    /* border-radius: var(--mantine-radius-sm); */
    /* height: 90px; */
    /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6)); */
    /* border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
    transition:
      box-shadow 150ms ease,
      transform 100ms ease;
}

.item:hover {
    /* box-shadow: var(--mantine-shadow-lg); */
    transform: scale(1.03);
}

.modelType > span {
    white-space: nowrap;
    overflow: visible;
    font-size: 1.075rem;
}

.idShort {
    white-space: nowrap;
    color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-gray-4));;
}

.id {
    white-space: nowrap;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));;
}

.mantine-Accordion-panel {
    
}