@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
    --bs-font-sans-serif: 'Pretendard', sans-serif;
    --bs-body-font-family: 'Pretendard', sans-serif;
}

body {
    font-family: 'Pretendard', sans-serif !important;
}